<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PortfolioDB" connectionString="Server=localhost;Database=PortfolioDB;Integrated Security=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
</configuration>